<br>
<div class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2><img src="/img/logo.png" width="50"> Asesores</h2>
            <ol>
                <li><a href="/">Home</a></li>
                <li>Asesores</li>
                <li><span class="emoji">🇪🇸</span>&nbsp;España</li>
            </ol>
        </div>
    </div>
</div>
<br>
<br>
<section id="cta" class="cta">
    <div class="container aos-init aos-animate" data-aos="zoom-out">

        <div class="row g-5">

            <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
                <h3><span class="emoji">🇪🇸</span>&nbsp;<em>Asesor de España</em></h3>
                <p> Hola, soy Vitaly S, soy diseñador web y soporte al cliente, llevo dos años de experiencia en esta
                    maravillosa agencia como asesor y podré guiarte en todo momento.
                    <br>
                    <br>
                    Mi propósito es que logres tus objetivos en las redes sociales. Vámos por ello.
                </p>
                <a class="button cta-btn align-self-start" href="https://api.whatsapp.com/send?phone=3462296538"
                    target="_blank"><i class="fa-brands fa-whatsapp"></i>&nbsp;Hablemos</a>
                </br>
                <h9><strong>→ Tiempo de respuesta:</strong> 1 a 6 horas
                    <br> <strong>→ Podemos hablar en:</strong> Español o inglés
                </h9>
            </div>
            <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
                <div class="img">
                    <img src="/assets/img/features-2.svg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="onfocus" class="onfocus"   >
    <div class="container-fluid p-0 aos-init aos-animate" data-aos="fade-up">
        <div class="row g-0">
            <div class="col-lg-7 position-relative">
                <img src="https://images.unsplash.com/photo-1643503640904-75c1a2093570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" width="100%" >
            </div>
            <div class="col-lg-5">
                <div class="content d-flex flex-column justify-content-center h-100">
                    <h3>Deoble Digital</h3>
                    <p class="fst-italic">
                        Nos tomamos en serio tu satisfacción, contamos con precios increíbles y una atención única para
                        que tengas un mejor desempeño en tus cuentas.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Confianza</li>
                        <li><i class="bi bi-check-circle"></i> Experiencia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>