<body>
    <br><br>
    <div class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2><img src="/img/logo.png" width="50"> Ayuda</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Ayuda</li>
                </ol>
            </div>
        </div>
    </div>
    <br>
    <section id="faq" class="faq">
        <div class="container-fluid aos-init aos-animate" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                    <div class="content px-xl-5">
                        <h3><strong>Preguntas</strong> Frecuentes</h3>
                        <p>
                            Oye, hemos hecho una sección de preguntas y respuestas, esto te será muy útil.
                        </p>
                    </div>

                    <div class="accordion accordion-flush px-xl-5" id="faqlist">

                        <div class="accordion-item aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-1">
                                    <i class="bi bi-question-circle question-icon"></i>
                                    ¿De dónde son los seguidores?
                                </button>
                            </h3>
                            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    De donde desees, hay tanto mundiales, como latinos y europeos o de Estados Unidos.
                                    Al ser todo el mundo y no segmentados por países podemos encontrar usuarios de todos
                                    lados, pero ten en cuenta que el paquete que elijas posee información de la
                                    ubicación de tus seguidores.
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-2">
                                    <i class="bi bi-question-circle question-icon"></i>
                                    ¿Bloquearán mi cuenta de Instagram, Facebook, Tik Tok y demás?
                                </button>
                            </h3>
                            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    No, en el uso de nuestros servicios no usamos tu contraseña ni la pediremos bajo
                                    ninguna circunstancia, es decir, que cualquier empresa, agencia o persona podrá
                                    enviar seguidores a tu red social o plataforma.
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-3">
                                    <i class="bi bi-question-circle question-icon"></i>
                                    ¿Los servicios son distribuibles?
                                </button>
                            </h3>
                            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    Sí, todos los servicios son distribuibles en tus diferentes post, páginas, cuentas y
                                    más. Al ser un pedido grande para tu red social o plataforma podrás indicarnos que
                                    deseas distribuirlo en el formulario de tu compra, de ésta forma podremos enviar tu
                                    pedido como nos indiques.
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-4">
                                    <i class="bi bi-question-circle question-icon"></i>
                                    ¿Cómo se que he ganado usuarios desde esta página y no son por mis propios medios?
                                </button>
                            </h3>
                            <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    <i class="bi bi-question-circle question-icon"></i>
                                    Si tienes alguna duda de ello, podrás consultarlo al soporte en vivo, una vez hagas
                                    tu consulta, un miembro del equipo se soporte al cliente te enviará información a
                                    detalle, misma posee capturas de pantalla, datos y estadísticas sobre tu red social
                                    o plataforma.
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faq-content-5">
                                    <i class="bi bi-question-circle question-icon"></i>
                                    ¿Quién atiende mi solicitud?
                                </button>
                            </h3>
                            <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    Tenemos soporte vía WhatsApp donde pueden atenderte a cualquier hora todos los días
                                    de la semana, pero ten en cuenta que debido a la afluencia de usuarios, este se
                                    puede ver afectado y posiblemente sea un chat automatizado en el caso no de
                                    encontrase disponibles los asesores, de igual forma la respuesta se te enviará al
                                    correo electrónico si no puedes estar en línea por mucho tiempo.
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                    </div>

                </div>

                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
                    style="background-image: url(&quot;assets/img/faq.jpg&quot;);">&nbsp;</div>
            </div>

        </div>
    </section>
    <br><br>
</body>