<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative aos-init aos-animate"
        data-aos="zoom-out">
        {{>message}}
        <div class="row">
            <div class="col-md-6">
                <br>
                <br>
                <br>
                <br>
                <h2><strong>OFERTA DE SEGUIDORES IG</strong> <span><strong>2022</strong></span></h2>
                <p>Obt칠n el -20% en Paquetes de 1.000 Seguidores IG con 2.000 likes gratis por solo US$7. Garant칤a de 12
                    meses.</p>
            </div>
            <div class="col-md-6">
                <br>
                <br>
                <br>
                <img src="/img/socialmedia/Deoble-index.jpeg" class="img-fluid animated">
            </div>
        </div>
        <br><br><br>
        <div class="d-flex">
            <a href="/socialmedia" type="button" class="btn button btn-get-started btn-lg scrollto">Empieza ya</a>
        </div>
        <br>
        <p style="color:#a5b7d2">12 meses de garant칤a</p>
    </div>
</section>
<section id="pricing" class="pricing">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <br><br>
        <div class="section-header">
            <p>Comprar seguidores con garant칤a</p>
            <h2><strong>Paquetes de seguidores de Instagram de todos los tama침os</strong></h2>
        </div>

        <div class="row gy-4">

            <div class="col-lg-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                <div class="pricing-item">

                    <div class="pricing-header">
                        <h3>2.000 seguidores de Instagram</h3>
                        <h1 class="product_title entry-title"><img draggable="false" role="img" class="emoji" alt="游섫릖"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1ec-1f1f8.svg">
                            <img draggable="false" role="img" class="emoji" alt="游쥟릖"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1fa-1f1f8.svg"> <img
                                draggable="false" role="img" class="emoji" alt="游游" width="10" height="10"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1e7-1f1f7.svg"> <img
                                draggable="false" role="img" class="emoji" alt="游뷣릖"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1e6-1f1f7.svg"> <img
                                draggable="false" role="img" class="emoji" alt="游游"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1fb-1f1ea.svg">
                        </h1>
                    </div>
                    <br>
                    <div class="eael-pricing-tag">
                        <center><span class="price-tag"><del class="price-currency">18<span
                                        class="price-currency">USD</span></del> <span class="price-currencyTotal">12
                                    <span class="price-currencyTotal">USD</span>
                                </span></span></center>
                        <span class="price-period"> </span>
                    </div>
                    <ul>
                        <li><i class="bi bi-dot"></i> <span>2.000 seguidores de Instagram</span></li>
                        <li><i class="bi bi-dot"></i> <span>4.000 likes distribuibles</span></li>
                        <li><i class="bi bi-dot"></i> <span>Entrega de 3h a 48h</span></li>
                        <li><i class="bi bi-dot"></i> <span>1 a침o de garant칤a</span></li>
                        <li><i class="bi bi-dot"></i> <span>Soporte por WhatsApp</span></li>
                    </ul>
                    <div class="text-center mt-auto">
                        <a href="/instagram/Seguidores-Instagram/2000-Seguidores-Instagram" class="buy-btn">Ver m치s
                            funciones</a>
                    </div>

                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                <div class="pricing-item featured">
                    <div class="pricing-header">
                        <h3>Promoci칩n de Instagram (OFERTA)</h3>
                        <h1 class="product_title entry-title"><img draggable="false" role="img" class="emoji" alt="游섫릖"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1ec-1f1f8.svg">
                            <img draggable="false" role="img" class="emoji" alt="游쥟릖"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1fa-1f1f8.svg"> <img
                                draggable="false" role="img" class="emoji" alt="游游" width="10" height="10"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1e7-1f1f7.svg"> <img
                                draggable="false" role="img" class="emoji" alt="游뷣릖"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1e6-1f1f7.svg"> <img
                                draggable="false" role="img" class="emoji" alt="游游"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1fb-1f1ea.svg">
                        </h1>
                    </div>
                    <br>
                    <div class="eael-pricing-tag">
                        <center><span class="price-tag"><del class="price-currency">97<span
                                        class="price-currency">USD</span></del> <span class="price-currencyTotal">59
                                    <span class="price-currencyTotal">USD</span>
                                </span></span></center>
                        <span class="price-period"> </span>
                    </div>

                    <ul>
                        <li><i class="bi bi-dot"></i> <span>10.000 seguidores de Instagram</span></li>
                        <li><i class="bi bi-dot"></i> <span>10.000 vistas de video distribuibles</span></li>
                        <li><i class="bi bi-dot"></i> <span>10.000 vistas de reels distribuibles</span></li>
                        <li><i class="bi bi-dot"></i> <span>12.000 likes distribuibles</span></li>
                        <li><i class="bi bi-dot"></i> <span>Entrega de 3h a 48h</span></li>
                        <li><i class="bi bi-dot"></i> <span>1 a침o de garant칤a</span></li>
                        <li><i class="bi bi-dot"></i> <span>Seguidores distribuibles</span></li>
                        <li><i class="bi bi-dot"></i> <span>Soporte por WhatsApp</span></li>
                    </ul>

                    <div class="text-center mt-auto">
                        <a href="/instagram/Seguidores-Instagram/(Oferta)-Promoci칩n-de-Instagram" class="buy-btn">Ver
                            m치s funciones</a>
                    </div>

                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="600">
                <div class="pricing-item">

                    <div class="pricing-header">
                        <h3>5.000 seguidores de Instagram</h3>
                        <h1 class="product_title entry-title"><img draggable="false" role="img" class="emoji" alt="游섫릖"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1ec-1f1f8.svg">
                            <img draggable="false" role="img" class="emoji" alt="游쥟릖"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1fa-1f1f8.svg"> <img
                                draggable="false" role="img" class="emoji" alt="游游" width="10" height="10"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1e7-1f1f7.svg"> <img
                                draggable="false" role="img" class="emoji" alt="游뷣릖"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1e6-1f1f7.svg"> <img
                                draggable="false" role="img" class="emoji" alt="游游"
                                src="https://s.w.org/images/core/emoji/13.1.0/svg/1f1fb-1f1ea.svg">
                        </h1>
                    </div>
                    <br>
                    <div class="eael-pricing-tag">
                        <center><span class="price-tag"><del class="price-currency">40<span
                                        class="price-currency">USD</span></del> <span class="price-currencyTotal">29
                                    <span class="price-currencyTotal">USD</span>
                                </span></span></center>
                        <span class="price-period"> </span>
                    </div>

                    <ul>
                        <li><i class="bi bi-dot"></i> <span>5.000 seguidores de Instagram</span></li>
                        <li><i class="bi bi-dot"></i> <span>1.000 likes distribuibles</span></li>
                        <li><i class="bi bi-dot"></i> <span>500 seguidores de Instagram</span></li>
                        <li><i class="bi bi-dot"></i> <span>Entrega de 3h a 48h</span></li>
                        <li><i class="bi bi-dot"></i> <span>1 a침o de garant칤a</span></li>
                        <li><i class="bi bi-dot"></i> <span>Soporte por WhatsApp</span></li>
                    </ul>

                    <div class="text-center mt-auto">
                        <a href="/instagram/Seguidores-Instagram/5000-Seguidores-Instagram" class="buy-btn">Ver m치s
                            funciones</a>
                    </div>

                </div>
            </div><!-- End Pricing Item -->

        </div>

    </div>
    <br>
</section>