<br><br>
<div class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2><img src="/img/logo.png" width="50"> Términos y condiciones</h2>
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Términos y condiciones</li>
            </ol>
        </div>
    </div>
</div>
<br>
<section id="about" class="about">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-header">
            <h2>Términos y condiciones</h2>
            <p>DeobleDigital.com a través de su sitio web concede una licencia para que los usuarios utilicen los
                productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en
                este documento.</p>
        </div>

        <div class="row g-4 g-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-5">
                <div class="about-img">
                    <img src="/img/logo-2.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-7">

                <!-- Tabs -->
                <ul class="nav nav-pills mb-3">
                    <li><a class="nav-link" data-bs-toggle="pill" href="#tab1">Términos y condiciones</a></li>
                    <li><a class="nav-link active" data-bs-toggle="pill" href="#tab2">Políticas de privacidad</a></li>
                    <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">Disputas y reembolsos
                        </a></li>
                </ul><!-- End Tabs -->

                <!-- Tab Content -->
                <div class="tab-content">

                    <div class="tab-pane fade" id="tab1">
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Información relevante:</h4>
                        </div>
                        <p>Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que
                            lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de
                            nuestros servicios así como la compra de nuestros productos y servicios implicará que usted
                            ha
                            leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todas los
                            productos
                            que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o
                            presentadas
                            por una página web tercera y en tal caso estarían sujetas a sus propios Términos y
                            Condiciones.
                            <br><br>
                            En algunos casos, para adquirir un producto, será necesario el registro por parte del
                            usuario,
                            con ingreso de datos personales fidedignos y definición de una contraseña.
                            <br><br>
                            El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en
                            cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de
                            alguno de nuestros productos. https://DeobleDigital.com/ no asume la responsabilidad en
                            caso de que entregue dicha clave a terceros.
                            <br><br>
                            Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están
                            sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación
                            del
                            stock y disponibilidad de producto, validación de la forma de pago, validación de la factura
                            (en
                            caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago
                            seleccionado.
                            <br>
                            En algunos casos puede que se requiera una verificación por medio de correo electrónico.
                            <br><br>
                            Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las
                            compras
                            realizadas en este sitio web.
                        </p>
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Licencia:</h4>
                        </div>
                        <p> DeobleDigital.com a través de su sitio web concede una licencia para que los usuarios
                            utilicen
                            los productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que
                            se
                            describen en este documento.</p>
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Uso no autorizado:</h4>
                        </div>
                        <p>En caso de que aplique (para venta de software, templetes, u otro producto de diseño y
                            programación) usted no puede colocar uno de nuestros productos, modificado o sin modificar,
                            en
                            un CD, sitio web o ningún otro medio y ofrecerlos para la redistribución o la reventa de
                            ningún
                            tipo.</p>
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Propiedad:</h4>
                        </div>
                        <p>Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos,
                            modificado o sin modificar. Todos los productos son propiedad de los proveedores del
                            contenido.
                            <br>
                            En caso de que no se especifique lo contrario, nuestros productos se proporcionan sin ningún
                            tipo de garantía, expresa o implícita. En ningún esta compañía será responsables de ningún
                            daño
                            incluyendo, pero no limitado a, daños directos, indirectos, especiales, fortuitos o
                            consecuentes
                            u otras pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros productos.
                        </p>
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Política de reembolso y garantía:</h4>
                        </div>
                        <p>En el caso de productos que sean mercancías irrevocables no-tangibles, no realizamos
                            reembolsos
                            después de que se envíe el producto, usted tiene la responsabilidad de entender antes de
                            comprarlo.
                            <br><br>
                            Le pedimos que lea cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta
                            regla cuando la descripción no se ajusta al producto.
                            <br><br>
                            Hay algunos productos que pudieran tener garantía y posibilidad de reembolso pero este será
                            especificado al comprar el producto.
                            <br><br>
                            En tales casos la garantía solo aplica durante 60, 90 días y hasta 6 meses dependiendo del
                            paquete seleccionado.
                            <br><br>
                            La garantía de relleno o reffil está cubierta siempre y cuando apliquen los días de cada
                            paquete.
                            <br><br>
                            Los reembolsos pueden durar entre 15 y 25 días en caso de lograrse por tarjeta de crédito,
                            giros
                            nacionales e internacionales en este caso, la tardanza se debe a rigurosos procedimientos de
                            verificación del banco o entidad seleccionada al momento de finalizar una compra en nuestra
                            página.
                        </p>
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Comprobación antifraude:</h4>
                        </div>
                        <p>La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser
                            suspendida por más tiempo para una investigación más rigurosa, para evitar transacciones
                            fraudulentas.
                            <br><br>
                            Adicional a ello, si hemos entregado el 100% del paquete seleccionado no podemos hacer la
                            respectiva garantía puesto que es imposible la devolución de seguidores, likes, vistas y
                            demás
                            servicios digitales.
                            <br><br>
                            Asegúrese de hacer uso de distribución diaria y no masiva de nuestros servicios para que
                            pueda
                            supervisar diariamente la gestión y resultado de este.
                        </p>

                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Privacidad:</h4>
                        </div>

                        <p>DeobleDigital.com garantiza que la información personal que usted envía cuenta con la
                            seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una
                            validación de
                            los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a
                            una
                            orden judicial o requerimientos legales.
                            <br><br>
                            La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría ser
                            seleccionada al momento de crear su cuenta.
                        </p>
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>DeobleDigital.com se reserva los derechos de cambiar o de modificar estos términos sin
                                previo
                                aviso.</h4>
                        </div>
                    </div><!-- End Tab 1 Content -->
                    <div class="tab-pane fade active show" id="tab2">
                        El presente Política de Privacidad establece los términos en que DeobleDigital.com usa y
                        protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio
                        web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le
                        pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo
                        hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin
                        embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le
                        recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo
                        con dichos cambios.

                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Información que es recogida</h4>
                        </div>
                        Nuestro sitio web podrá recoger información personal por ejemplo: Nombre, información de
                        contacto como su dirección de correo electrónica e información demográfica. Así mismo cuando sea
                        necesario podrá ser requerida información específica para procesar algún pedido o realizar una
                        entrega o facturación.
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Uso de la información recogida</h4>
                        </div>
                        Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible,
                        particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar
                        nuestros productos y servicios. Es posible que sean enviados correos electrónicos periódicamente
                        a través de nuestro sitio con ofertas especiales, nuevos productos y otra información
                        publicitaria que consideremos relevante para usted o que pueda brindarle algún beneficio, estos
                        correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados
                        en cualquier momento.
                        <br>
                        DoubleDigital está altamente comprometido para cumplir con el compromiso de mantener su
                        información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para
                        asegurarnos que no exista ningún acceso no autorizado.
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Cookies</h4>
                        </div>
                        Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para
                        almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para
                        tener información respecto al tráfico web, y también facilita las futuras recurrente. Otra
                        función que tienen las cookies es que con ellas las web pueden reconocerte individualmente y por
                        tanto brindarte el mejor servicio personalizado de su web.
                        <br>
                        Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su
                        frecuencia. Esta información es empleada únicamente para análisis estadístico y después la
                        información se elimina de forma permanente. Usted puede eliminar las cookies en cualquier
                        momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio de
                        los sitios web, estás no dan acceso a información de su ordenador ni de usted, a menos de que
                        usted así lo quiera y la proporcione directamente. Usted puede aceptar o negar el uso de
                        cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para
                        tener un mejor servicio web. También usted puede cambiar la configuración de su ordenador para
                        declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros
                        servicios.
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Enlaces a Terceros</h4>
                        </div>
                        Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez
                        que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al
                        sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni
                        de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus
                        propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que
                        usted está de acuerdo con estas.
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Control de su información personal</h4>
                        </div>
                        En cualquier momento usted puede restringir la recopilación o el uso de la información personal
                        que es proporcionada a nuestro sitio web. Cada vez que se le solicite rellenar un formulario,
                        como el de alta de usuario, puede marcar o desmarcar la opción de recibir información por correo
                        electrónico. En caso de que haya marcado la opción de recibir nuestro boletín o publicidad usted
                        puede cancelarla en cualquier momento.
                        <br>
                        Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su
                        consentimiento, salvo que sea requerido por un juez con un orden judicial.
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>DoubleDigital se reserva el derecho de cambiar los términos de la presente Política de
                                Privacidad en cualquier momento.</h4>
                        </div>

                    </div><!-- End Tab 2 Content -->

                    <div class="tab-pane fade" id="tab3">
                        ¡Gracias por comprar en DoubleDigital.com
                        <br>
                        <br>
                        Ofrecemos reembolso y/o cambio dentro de los primeros 30 días de tu compra. Si han transcurrido
                        30 días desde tu compra, no se te ofrecerá un reembolso y/o cambio de ningún tipo. Aplica
                        elegibilidad para reembolsos y cambios.
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Elegibilidad para reembolsos y cambios</h4>
                        </div>
                        Puesto que se trata de un servicio o producto con entrega inmediata o distribuido y se es
                        complicado la devolución total después de una entrega, las devoluciones sucederán siempre y
                        cuando no se haya entregado el servicio adquirido, si esté se encuentra fuera de nuestros
                        servidores, no podremos hacer uso de reembolso.
                        <br>
                        Absolutamente todos los servicios de DeobleDigital.com están protegidos por garantía de 6
                        meses y cuentan con protección contra reembolso de 30 días en casos de no estas satisfecho. Ten
                        en cuenta que los productos pueden atrasarse o demorarse, este no será un motivo para
                        reembolsos.
                        <br>
                        Al ser un comprador en keyliluzdigital.com optamos por presentarle un cuestionario para mejorar
                        nuestros servicios antes de hacer uso de devolución, dicha cuestionario posee preguntas sobre su
                        decisión del porqué la devolución de éstos servicios.
                        <br>
                        Una vez que se reciba e inspeccione tu devolución, te enviaremos un email para notificarte que
                        hemos recibido tu solicitud. También te notificaremos la aprobación o el rechazo de tu
                        reembolso.
                        <br>
                        Si es aprobado, entonces se procesará tu reembolso y se aplicará un crédito automáticamente a tu
                        tarjeta de crédito o método de pago original, dentro de una cierta cantidad de días, dependiendo
                        del tiempo de entrega de las entidades bancarias.
                        <div class="d-flex align-items-center mt-4">
                            <i class="bi bi-check2"></i>
                            <h4>Reembolsos atrasados ​​o faltantes</h4>
                        </div>
                        Si aún no has recibido un reembolso, primero verifica otra vez tu cuenta bancaria. Luego,
                        comunícate con la compañía de tu tarjeta de crédito. Puede tomar algún tiempo antes de que se
                        publique oficialmente tu reembolso.
                        <br>
                        Si has hecho todo esto y aún no has recibido tu reembolso, comunícate con nosotros al email:
                        jhonaelingeniero04@gmail.com o al soporte de WhatsApp en la esquina inferior derecha de tu ordenador.
                    </div><!-- End Tab 3 Content -->
                </div>
            </div>
        </div>
    </div>
</section>